<template lang="pug">
    main
        h3 Добро пожаловать в чат-комнату: {{ chatId }}
        User(#user="{user}")
            ul
                li(v-for="message of messages" :key="message.id")
                    chat-message(:message="message" :owner="user.uid === message.sender") 
            input(class="input" v-model="newMessageText"
            @keyup.enter="addMessage(user.uid)"
            placeholder="Введи сообщение сюда")
            hr
            h5 Голосовое сообщение
            button(class="button is-danger" v-if="!recorder" @click="record()") Записать
            button(class="button is-danger" v-else @click="stop()") Остановить запись
            audio(v-if="newAudio" :src="newAudioURL" controls)
            hr
            button(class="button is-success"
            type="text" @click="addMessage(user.uid)") Отправить
</template>

<script>
import User from "../components/User";
import ChatMessage from "../components/ChatMessage";
import { db, storage } from "../firebase";
export default {
  components: {
    User,
    ChatMessage
  },
  data: () => ({
    newMessageText: "",
    loading: false,
    messages: [],
    newAudio: null,
    recorder: null
  }),
  computed: {
    chatId() {
      return this.$route.params.id;
    },
    messagesCollection() {
      return db.doc(`chats/${this.chatId}`).collection("messages");
    },
    newAudioURL() {
      return URL.createObjectURL(this.newAudio);
    }
  },
  firestore() {
    return {
      messages: this.messagesCollection.orderBy("createdAt").limitToLast(10)
    };
  },
  methods: {
    async addMessage(uid) {
      this.loading = true;
      let audioURL = null;
      const { id: messageId } = this.messagesCollection.doc();
      if (this.newAudio) {
        const storageRef = storage
          .ref("chats")
          .child(this.chatId)
          .child(`${messageId}.wav`);
        await storageRef.put(this.newAudio);
        audioURL = await storageRef.getDownloadURL();
      }
      await this.messagesCollection.doc(messageId).set({
        text: this.newMessageText,
        sender: uid,
        createdAt: Date.now(),
        audioURL
      });
      this.loading = false;
      this.newMessageText = "";
      this.newAudio = null;
    },
    async record() {
      this.newAudio = null;
      const stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
        video: false
      });
      const options = { mimeType: "audio/webm" };
      const recordedChunks = [];
      this.recorder = new MediaRecorder(stream, options);
      this.recorder.addEventListener("dataavailable", e => {
        if (e.data.size > 0) {
          recordedChunks.push(e.data);
        }
      });
      this.recorder.addEventListener("stop", () => {
        this.newAudio = new Blob(recordedChunks);
        console.log(this.newAudio);
      });
      this.recorder.start();
    },
    async stop() {
      this.recorder.stop();
      this.recorder = null;
    }
  }
};
</script>
<style lang="less" scoped>
@messageBackground: #efefef;
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  background: @messageBackground;
  padding: 10px;
  border-radius: 10px;
}

li {
  display: flex;
}
</style>