<template lang="pug">
   div
    User(v-slot:user="{user}")
        div(v-if='user')
            user-profile(:user="user")
            chat-list(:uid="user.uid")  
        Login(v-else)
</template>


<script>
/*eslint-disable*/
import Login from '../components/Login';
import User from '../components/User';
import UserProfile from '../components/UserProfile';
import ChatList from '../components/ChatList';
export default {
    components:{
        Login,
        User,
        UserProfile,
        ChatList
    }
}
</script>

<style lang="less" scoped>

</style>