<template lang="pug">
    .message(:class="{'from-user':owner}") {{ message.text }}
        br
        audio(v-if="message.audioURL" :src="message.audioURL" controls)
        span.sender from UID {{message.sender}}
</template>

<script>
export default {
  props: ["message", "owner"]
};
</script>

<style lang="less" scoped>
.message {
  background: #dddddd;
  color: #000;
  margin-left: 0;
  margin-right: 10px;
  margin-left: auto;
  border-radius: 5px;
  padding: 12px;
}
.from-user {
  margin-left: 10px;
  margin-right: auto;
  background: #91bbff;
}
.sender {
  font-size: 0.5rem;
}
</style>