<template lang="pug">
    div
        ul
            li(v-for="chat of chats" :key="chat.id")
                router-link(:to="{ name: 'chat', params: { id: chat.id } }") {{ chat.id }}
        button(class="button" @click="createChatRoom()") Создать чат-комнату
</template>

<script>
import { db } from "../firebase";
export default {
  props: ["uid"],
  data: () => ({
    chats: []
  }),
  firestore() {
    return {
      chats: db.collection("chats").where("owner", "==", this.uid)
    };
  },
  methods: {
    async createChatRoom() {
      const newChat = await db.collection("chats").add({
        createdAt: Date.now(),
        owner: this.uid,
        members: [this.uid]
      });
      console.log(newChat);
    }
  }
};
</script>