<template lang="pug">
  .wrapper-page
    .container
      .wrapper-form
        .login-form
          aside
              h3 Войти анонимно
              button(class="button is-link is-fullwidth is-rounded" @click="auth.signInAnonymously()") Войти
              .login-form__sign(v-if="newUser")
                  h3 Создать новый аккаунт
                  a(href="#" @click="newUser = false").
                      Уже зареганы?
              .login-form__sign(v-else)
                  h3 Войти используя E-mail
                  a(href="#" @click="newUser = true").
                      Создать новый аккаунт
              
              label(for="email").
                  Email
              input(class="input is-rounded" v-model="email" placeholder="E-mail" type="email")
              label(for="password").
                  Пароль
              input(class="input is-rounded" v-model="password" placeholder="Пароль" type="password")
              button(class="button is-link is-fullwidth is-rounded" :class="{'is-loading' : loading}" @click="signInOrCreateUser()") {{newUser ? 'Зарегистрироваться' : 'Войти'}}
              p.has-text-danger(v-if="errorMessage") {{ errorMessage }}
</template>

<script>
import { auth } from "../firebase";
export default {
  data: () => ({
    auth,
    newUser: false,
    email: "",
    password: "",
    loading: false,
    errorMessage: ""
  }),
  methods: {
    async signInOrCreateUser() {
      this.loading = true;
      this.errorMessage = "";
      try {
        if (this.newUser) {
          await auth.createUserWithEmailAndPassword(this.email, this.password);
        } else {
          await auth.signInWithEmailAndPassword(this.email, this.password);
        }
      } catch (error) {
        this.errorMessage = error.message;
      }
      this.loading = false;
    }
  }
};
</script>

<style lang="less" scoped>
@import "../less/variables";

.wrapper-page {
  width: 100%;
  height: 100vh;
  background: @main-background-gradient;
  & h3 {
    font-size: @main-font-size-header !important;
    text-align: center;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper-form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 50px;

  &__sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
</style>