<template lang="pug">
    div
        |Вошёл в чат под ID: {{user.uid}}
        button(class="button" @click="auth.signOut()").
            Выйти 
</template>

<script>
import {auth} from '../firebase'
export default {
    props:['user'],
    data(){
        return{
            auth
        }
    }
}
</script>